:root{
    --primary-color: rgb(122, 62, 51);
    --secondary-color: rgb(255, 196, 184);
    --dark-color: rgb(53, 31, 28);
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: #fff; */
    color: #333;
    line-height: 1.6;
    text-align: center;
}

ul {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}
h1{
    font-weight: 300;
    line-height: 1.2;
}

/*/////////////////////////////////////////////////////////* Utilities *//*//////////////////////////////////////////////////////////////*/
.hilighted{
    font-weight: 600;
    color: var(--primary-color);
    text-shadow: 0 0 3px white,0.1rem 0.1rem 0.2rem white,-0.1rem -0.1rem 0.2rem  white;
}
.bg--dark{
    color: #fff;
    background-color: var(--primary-color);
    border: none;
}
.btn {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 5px;
}
.btn:hover {
    opacity: 0.9;
}

/*/////////////////////////////////////////////////////////* Home *//*//////////////////////////////////////////////////////////////*/


.home{
    background: url(./img/johannes-plenio-RwHv7LgeC7s-unsplash.jpg) no-repeat center center /cover;
    height: 100vh;
    position: relative;
}
.home * {
    z-index: 10;
}
.home::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    background: transparent;
    color: #fff;
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
    transition: 0.5s;
}
.navbar a {
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: var(--primary-color) 3px solid;
}

.navbar ul {
    display: flex;
}

.navbar__logo {
    display:flex;
    justify-content: start;
    margin-top: 10px;
}

.navbar__logo p{
    align-self: center;
    padding: 0 10px;
}

.navbar nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

form.search{
    display: flex;
    justify-content: center;
}
form.search input{
    width: 60%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid grey;
    padding: 5px 0;
}
form.search button{
    width: 15%;
    cursor: pointer;
    background: var(--primary-color);
    color: white;
    border-radius: 5px ;
    border: 1px solid grey;
    padding: 5px 0;
}

form.search button:hover{
    background-color: var(--dark-color);
}

.home__showcase{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
    color: #fff;
}

.home__showcase h1 {
    font-size: 55px;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 0 0 3px black,0.4rem 0.3rem 0.7rem var(--primary-color),-0.4rem -0.3rem 0.7rem var(--primary-color);
}

.home__showcase p {
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 35px;
}

/*/////////////////////////////////////////////////////////* About *//*//////////////////////////////////////////////////////////////*/

.about{
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.about__columns{    
    height: 50%;   
}
.flex--items{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
}
.about__columns__left a{
    display: flex;
    height: 90%;
    margin: 5px 5px 0 5px;
}
.about__columns__left img:hover{
    opacity: 0.7;
}
.about__columns__right{
    margin: 10px 40px;
    flex: 1;
}
.about__columns__right h2{
    margin: 10px 0;
}
.about__columns__right p{
    text-align: left;
}

.flex--columns .row {
    display: flex;
    flex-direction: row;
    height: 85%;
}

.flex--columns .column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.about__bottom{
    font-weight: 600;
}

.about__bottom__item a{
    height: 90%;
    margin: 5px 5px 0 5px;
}
.about__bottom__item img:hover{
    opacity: 0.7;
}

/*/////////////////////////////////////////////////////////* Quotes *//*//////////////////////////////////////////////////////////////*/

.quotes{
    background: url(./img/trees.jpg) no-repeat center center /cover;
    height: 100vh;
    position: relative;
    color: white;
    /* display: flex; */
}
.quotes::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
}
.quotes h2{
    position: absolute;
    top: 100px;
    left: 600px;
    font-size: 35px;
}
.quotes__container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    height: 70%;
    width: 70%;
    top: 170px;
    left: 220px;
}
.quote{
    display: flex;
    background-color: var(--secondary-color);
    text-align: left;
    border-radius: 20px;
    padding: 5px 20px;
    color: black;
}
.quote img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: auto 0;
}
.quote p{
    padding: 10px 20px;
}

/*/////////////////////////////////////////////////////////* Footer *//*//////////////////////////////////////////////////////////////*/

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

/*/////////////////////////////////////////////////////////* Mobile *//*//////////////////////////////////////////////////////////////*/

@media(max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: 120px;
        padding: 20px;
        font-size: small;
    }

    .navbar a {
        padding: 10px 10px;
        margin: 0 3px;
    }
    .navbar__logo {
        justify-content: center;
    }

    .navbar__logo img{
        height: 100%;
    }

    .navbar nav{
        flex-direction: column;
    }

    .navbar ul{
        padding-bottom: 20px;
    }

    .home__showcase h1 {
        font-size: 35px;
    }
    .home__showcase p {
        font-size: 14px;
    }

    .flex--items {
        flex-direction: column;
    }

    .flex--columns .row {
        flex-direction: column;
    }
    .about{
        height: auto;
    }
    
    .quotes h2{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-700%);
        font-size: large;
    }
    .quotes__container{
        height: 40%;
        width: 75%;
        top: 40%;
        left: 13%;
        font-size: xx-small;
    }
    .quote img{
        height: 50px;
        width: 50px;
    }
    .quote{
        padding: 3px 15px;
        margin: 5px 0;
    }
    .quotes p{
        padding: 5px 10px;
    }

}


